{
  "bracketSpacing": true,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "import/order": [
    "error",
    {
      "groups": [
        "index",
        "sibling",
        "parent",
        "internal",
        "external",
        "builtin"
      ]
    }
  ]
}
